<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container border border-primary">
   
  <ul class="list-group">
    <li class="list-group-item active">Produtos</li>
    
    <li class="list-group-item">

        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
      
            <div class="row no-gutters">
        <div class="col-md-4">
            <img src=".\assets\tv.jpg" class="card-img" alt="..." style="width: 200px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Smart TV LED 50" Samsung 50RU7100 Ultra HD 4K</h5>
              <p class="card-text">Agora assistir aos seus filmes favoritos, series, programas e muito mais vai tornar-se uma experiência ainda mais imersiva e completa, com a Smart TV LED 50" Samsung UN50RU7100GXZD Ultra HD 4K. Desenvolvida com o que a de melhor em tecnologia para televisores, ela vai te oferecer imagens mais nítidas, cores vivas e som de altíssima qualidade. Modificando por completo a sua percepção, dando um tom mais realista as cenas.</p>
              <h5 _ngcontent-bfr-c1="" class="valor pt-3 text-right">R$2,199.00</h5>
              <button class="btn btn-primary" type="button" style="float:right">  Comprar </button>
            </div>
          </div>
        </div>
    </li>
    <li class="list-group-item">

        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
            <div class="row no-gutters">
        <div class="col-md-4">
            <img src=".\assets\celular.jpg" class="card-img" alt="..." style="width: 200px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Smartphone Samsung Galaxy S9 Dual Chip</h5>
              <p class="card-text">Divirta-se com jogos, assista a um tutorial ou envie mensagens de texto enquanto curte uma partida. Alterne entre aplicativos em um piscar de olhos, com a combinação poderosa de memória RAM e um processador de última geração</p>
              <h5 _ngcontent-bfr-c1="" class="valor pt-3 text-right">R$2,199.00</h5>
              <button class="btn btn-primary" type="button" style="float:right"> Comprar </button>
            </div>
          </div>
        </div>
      
    </li>
    <li class="list-group-item">

        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
            <div class="row no-gutters">
        <div class="col-md-4">
            <img src=".\assets\celular2.jpg" class="card-img" alt="..." style="width: 200px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Smartphone Samsung Galaxy M20 64GB</h5>
              <p class="card-text">Com uma bateria de 5,000 mAh com carregamento rápido, o Galaxy M20 tem energia o suficiente para você fazer todas as suas atividades diárias e ainda sobrar carga para passar horas jogando ou assistindo aos seus conteúdos favoritos</p>
              <h5 _ngcontent-bfr-c1="" class="valor pt-3 text-right">R$2,199.00</h5>
              <button class="btn btn-primary" type="button" style="float:right"> Comprar </button>
            </div>
          </div>
        </div>
      
    </li>
    <li class="list-group-item">

        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
            <div class="row no-gutters">
        <div class="col-md-4">
            <img src=".\assets\fritadeira.jpg" class="card-img" alt="..." style="width: 200px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fritadeira Elétrica Airfryer Viva Philips Walita</h5>
              <p class="card-text">Com ela, você prepara todo tipo de fritura sem precisar usar nenhum tipo de óleo, garantindo mais sabor e uma alimentação saudável todos os dias. Seu recipiente interno é antiaderente evita que o alimento grude no fundo, além de permitir que ele fique mais crocante após o preparo</p>
              <h5 _ngcontent-bfr-c1="" class="valor pt-3 text-right">R$2,199.00</h5>
              <button class="btn btn-primary" type="button" style="float:right"> Comprar </button>
            </div>
          </div>
        </div>
      
    </li>
    <li class="list-group-item">

        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
            <div class="row no-gutters">
        <div class="col-md-4">
            <img src=".\assets\aspirador.jpg" class="card-img" alt="..." style="width: 200px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Aspirador De Pó Ergorapido Power Red Electrolux</h5>
              <p class="card-text">O Aspirador de Pó Ergorapido Electrolux é original, divertido e a melhor solução para uma limpeza instantânea, sem incomodar ninguém e sem alterar o seu bom humor, porque está sempre ao seu lado onde as coisas acontecem!</p>
              <h5 _ngcontent-bfr-c1="" class="valor pt-3 text-right">R$2,199.00</h5>
              <button class="btn btn-primary" type="button" style="float:right"> Comprar </button>
            </div>
          </div>
        </div>
      
    </li>
   
  </ul>

  </div>

<!-- Botão para acionar modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLongoExemplo">
  Abrir modal de demonstração
</button>

<!-- Modal -->
<div class="modal fade" id="ModalLongoExemplo" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
